<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}{% endblock title %}</title>
    {% block css %}{% endblock css %}
  </head>
  <body>
    <a href="{% url 'home' %}">Home Page</a>
    {%block categories%} {%for category in categories%}
    <li><a class="dropdown-item" href="#">{{category}}</a></li>
    {%endfor%} {%endblock categories%} {%block body%} {%endblock body%}

    <footer>Footer</footer>
  </body>
</html>
